body {
   padding: 10px;
   height: 100vh;
   margin: 0;
   box-sizing: border-box;
}
#main {
   display: grid;
   grid-template-columns: 66.6% 33.3%;
   height: 100%;
}

#main-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: fit-content(100px) auto;
   grid-template-areas: "m v"
                        "b v";
   height: 100%;
   gap: 10px;
}
#main-form [name="module"] {
   grid-area: m;
}
#main-form [name="book"] {
   grid-area: b;
}
#main-form [name="verse"] {
   grid-area: v;
}